.notFound{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 80px;
    margin: 300px;
    color: aliceblue;
    font-size: 80px;
    font-weight: 600;
}